
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.patient-screen-25-sept-HKJ {
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;

  .auto-group-jh3s-ivQ {
    height: 8rem;
    position: relative;
    flex-shrink: 0;
    width: 100%;

    .header-xiG {
      height: 6rem;
      position: absolute;
      top: 0;
      background-color: #1f82de;
      box-sizing: border-box;
      padding: 0.6rem 16.5rem 0.6rem 16.6rem;
      width: 144rem;
      left: 0;
      display: flex;
      align-items: center;

      .auto-group-nkgc-1gY {
        margin-right: 48.866rem;
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .kaje-1-wKJ {
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 1.6rem;
          width: 6.734rem;
          height: 4.8rem;
          object-fit: cover;
        }
        .prashanthi-ayurvedic-centre-Fat {
          line-height: 1.2575;
          font-family: Arial, 'Source Sans Pro';
          flex-shrink: 0;
          display: flex;
          font-size: 3.6rem;
          color: #ffffff;
          white-space: nowrap;
          font-weight: 700;
          letter-spacing: -0.032rem;
        }
      }
      .nav-base-jFA {
        margin: 0.4rem 0rem 0.2rem 0rem;
        justify-content: center;
        border-radius: 0.4rem;
        display: flex;
        line-height: 1.2575;
        letter-spacing: -0.032rem;
        color: #1f82de;
        white-space: nowrap;
        background-color: #ffffff;
        width: 9.2rem;
        font-family: Arial, 'Source Sans Pro';
        flex-shrink: 0;
        height: calc(100% - 0.6rem);
        font-size: 1.6rem;
        font-weight: 700;
        align-items: center;
      }
    }
    .header-hLQ {
      position: absolute;
      left: 0;
      top: 0;
      background-color: #0b425a;
      width: 144rem;
      height: 8rem;

      .frame-1-cTN {
        position: absolute;
        left: 16.1rem;
        top: 0.2rem;
        box-shadow: 0 0.1rem 0 rgba(0, 0, 0, 0.1000000015);
        background-color: #0b425a;
        box-sizing: border-box;
        padding: 1.6rem 0rem 1rem 1.6rem;
        width: 126.6rem;
        height: 7.4rem;
        display: flex;
        align-items: center;

        .auto-group-6s2x-Jqz {
          box-sizing: border-box;
          display: flex;
          font-size: 3rem;
          letter-spacing: -0.032rem;
          color: #ffffff;
          white-space: nowrap;
          margin-right: 68.6rem;
          height: 100%;
          font-weight: 700;
          line-height: 1.2575;
          font-family: Times, 'Source Sans Pro';
          flex-shrink: 0;
          padding: 0.2rem 0;
        }
        .auto-group-ubak-onk {
          height: 4.45rem;
          flex-shrink: 0;
          margin-bottom: 0.35rem;
          width: 19.4rem;

          .nav-pills-jwJ {
            width: 100%;
            height: 4.3rem;
          }
        }
      }
      .rectangle-315-fKA {
        width: 8.3rem;
        height: 8rem;
        position: absolute;
        left: 8rem;
        top: 0;
        background-color: #ffffff;
      }
      .kaje-2-n8t {
        top: 1.6rem;
        object-fit: cover;
        vertical-align: top;
        width: 6.734rem;
        height: 4.8rem;
        position: absolute;
        left: 8.7rem;
      }
    }
  }
  .auto-group-fpuq-gVA {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 1.2rem 0rem 0rem 16.5rem;

    .auto-group-vojk-n2Q {
      margin: 0rem 16.3rem 2.35rem 0rem;
      width: 111rem;
      height: 8.4rem;
      position: relative;
      flex-shrink: 0;

      .pagetitle-hv4 {
        color: #152536;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        height: 6.9rem;
        top: 0;
        font-size: 2.4rem;
        font-weight: 600;
        line-height: 1.2125;
        letter-spacing: -0.048rem;
        width: 111rem;
        position: absolute;
        left: 0;
      }
      .get-your-appointment-by-filling-your-details-and-selection-of-date-and-time-slot-here-you-can-see-only-which-is-available-slot-and-easly-you-can-complete-this-booking-system-hassleless-once-you-submit-the-request-you-need-to-have-athounticate-the-booking-by-entering-the-otp-once-you-enter-and-submit-the-otp-we-will-send-the-confirmation-sms-on-your-mobile-c1S {
        position: absolute;
        left: 0;
        top: 4.8rem;
        display: flex;
        font-size: 1.4rem;
        line-height: 1.2575;
        letter-spacing: -0.032rem;
        height: 3.6rem;
        font-family: Arial, 'Source Sans Pro';
        font-weight: 400;
        color: #212529;
        width: 100.9rem;
      }
    }
    .auto-group-gwda-LLk {
      width: 139.1rem;
      height: 84.05rem;
      position: relative;
      flex-shrink: 0;

      .copyright-prashanthi-ayurvedic-centre-all-right-reserved-design-by--H16 {
        position: absolute;
        letter-spacing: -0.032rem;
        color: #212529;
        top: 77.85rem;
        font-size: 1.2rem;
        font-family: Arial, 'Source Sans Pro';
        white-space: nowrap;
        line-height: 1.2575;
        left: 38.15rem;
        display: flex;
        align-items: center;
        font-weight: 400;
        width: 36.3rem;
        height: 1.6rem;
        justify-content: center;
      }
      .frame-221-4AG {
        top: 0;
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 139.1rem;
        height: 84.05rem;
        position: absolute;
        left: 0;

        .auto-group-nksz-bR6 {
          box-sizing: border-box;
          padding-bottom: 1.9rem;
          width: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .auto-group-f6sg-jXJ {
            width: 110.9rem;
            height: 15.45rem;
            position: relative;
            flex-shrink: 0;
            margin-bottom: 2.6rem;

            .input-complex-source-dFJ {
              left: 0;
              top: 5.75rem;
              width: 20rem;
              height: 9.2rem;
              position: absolute;

              .label-Y7N {
                height: 2.1rem;
                left: 0;
                top: 0;
                font-weight: 400;
                letter-spacing: -0.032rem;
                white-space: nowrap;
                width: 5.1rem;
                position: absolute;
                font-size: 1.6rem;
                line-height: 1.2575;
                color: #212529;
                font-family: Arial, 'Source Sans Pro';
              }
              .input-group-QvG {
                width: 20rem;
                height: 3.8rem;
                position: absolute;
                left: 0;
                top: 2.8rem;
                border-radius: 0.4rem;

                .input-jxY {
                  font-size: 1.6rem;
                  letter-spacing: -0.032rem;
                  color: #212529;
                  padding: 0.95rem 1.2rem 0.75rem 1.2rem;
                  position: relative;
                  font-weight: 400;
                  line-height: 1.2575;
                  border: solid 0.1rem #cfd4d9;
                  width: 100%;
                  height: 100%;
                  overflow: hidden;
                  background-color: #ffffff;
                  border-radius: 0.5rem;
                  box-sizing: border-box;
                  font-family: Arial, 'Source Sans Pro';
                  white-space: nowrap;
                  box-shadow: 0 0 0 #cbdafc;
                }
              }
              .input-complex-source-ybz {
                position: absolute;
                left: 0;
                top: 0;
                box-sizing: border-box;
                padding-bottom: 2.6rem;
                width: 20rem;
                height: 9.2rem;

                .label-ukY {
                  color: #212529;
                  font-family: Arial, 'Source Sans Pro';
                  white-space: nowrap;
                  margin-bottom: 0.7rem;
                  font-size: 1.6rem;
                  font-weight: 400;
                  line-height: 1.2575;
                  letter-spacing: -0.032rem;
                }
                .input-group-3Lx {
                  border-radius: 0.4rem;
                  width: 100%;
                  height: 3.8rem;

                  .input-12t {
                    box-sizing: border-box;
                    padding: 0.95rem 1.2rem 0.75rem 1.2rem;
                    width: 100%;
                    position: relative;
                    font-weight: 400;
                    font-family: Arial, 'Source Sans Pro';
                    overflow: hidden;
                    line-height: 1.2575;
                    letter-spacing: -0.032rem;
                    border: solid 0.1rem #cfd4d9;
                    height: 100%;
                    font-size: 1.6rem;
                    color: #212529;
                    border-radius: 0.5rem;
                    white-space: nowrap;
                    box-shadow: 0 0 0 #cbdafc;
                    background-color: #ffffff;
                  }
                }
              }
            }
            .frame-219-pm2 {
              align-items: center;
              width: 53.5rem;
              height: 9.2rem;
              position: absolute;
              left: 0;
              top: 0.15rem;
              display: flex;

              .auto-group-4r44-vZA {
                width: 28.5rem;
                height: 100%;
                position: relative;
                flex-shrink: 0;
                margin-right: 5rem;

                .select-source-5BA {
                  position: absolute;
                  left: 0;
                  top: 0;
                  box-sizing: border-box;
                  padding-bottom: 2.6rem;
                  width: 20rem;
                  height: 9.2rem;

                  .label-cgt {
                    margin-bottom: 1rem;
                    font-size: 1.4rem;
                    font-weight: 700;
                    line-height: 1.2575;
                    letter-spacing: -0.032rem;
                    color: #212529;
                    font-family: Arial, 'Source Sans Pro';
                    white-space: nowrap;
                  }
                  .select-group-M8g {
                    width: 100%;
                    height: 3.8rem;

                    .auto-group-jk9s-uR6 {
                      margin-right: 13.5rem;
                      width: 6.5rem;
                      height: 100%;

                      .select-base-436 {
                        width: 100%;
                        border-radius: 0.4rem;
                        display: flex;
                        align-items: center;
                        border: solid 0.1rem #cfd4d9;
                        box-sizing: border-box;
                        padding: 1rem 1.4rem 1rem 1.2rem;
                        height: 100%;
                        overflow: hidden;
                        position: relative;
                        box-shadow: 0 0 0 #cbdafc;
                        background-color: #ffffff;

                        .select-nUt {
                          white-space: nowrap;
                          flex-shrink: 0;
                          margin-right: 2rem;
                          display: flex;
                          letter-spacing: -0.032rem;
                          color: #212529;
                          font-family: Arial, 'Source Sans Pro';
                          font-size: 1.4rem;
                          font-weight: 400;
                          line-height: 1.2575;
                        }
                        .frame-HwS {
                          vertical-align: top;
                          flex-shrink: 0;
                          width: 1.2rem;
                          height: 0.6rem;
                          object-fit: contain;
                        }
                      }
                    }
                  }
                }
                .select-source-BX2 {
                  height: 9.2rem;
                  position: absolute;
                  left: 8.5rem;
                  top: 0;
                  box-sizing: border-box;
                  padding-bottom: 2.6rem;
                  width: 20rem;

                  .label-fwz {
                    letter-spacing: -0.032rem;
                    color: #212529;
                    font-family: Arial, 'Source Sans Pro';
                    white-space: nowrap;
                    margin-bottom: 0.7rem;
                    font-size: 1.6rem;
                    font-weight: 400;
                    line-height: 1.2575;
                  }
                  .select-group-Ch2 {
                    width: 100%;
                    height: 3.8rem;

                    .select-base-kyS {
                      height: 100%;
                      overflow: hidden;
                      position: relative;
                      background-color: #ffffff;
                      border-radius: 0.4rem;
                      box-sizing: border-box;
                      padding-left: 1.2rem;
                      align-items: center;
                      border: solid 0.1rem #cfd4d9;
                      box-shadow: 0 0 0 #cbdafc;
                      width: 100%;
                      display: flex;

                      .select-7JC {
                        font-family: Arial, 'Source Sans Pro';
                        white-space: nowrap;
                        flex-shrink: 0;
                        display: flex;
                        font-size: 1.6rem;
                        line-height: 1.2575;
                        letter-spacing: -0.032rem;
                        color: #212529;
                        margin-right: 9rem;
                        font-weight: 400;
                      }
                      .auto-group-tugy-E7v {
                        padding: 1.6rem 1.4rem 1.6rem 1.3rem;
                        height: 100%;
                        flex-shrink: 0;
                        box-sizing: border-box;

                        .frame-mNk {
                          vertical-align: top;
                          width: 1.2rem;
                          height: 0.6rem;
                          object-fit: contain;
                        }
                      }
                    }
                  }
                }
              }
              .input-complex-source-GqJ {
                box-sizing: border-box;
                padding-bottom: 2.6rem;
                width: 20rem;
                height: 100%;
                flex-shrink: 0;

                .label-oqE {
                  white-space: nowrap;
                  margin-bottom: 0.7rem;
                  font-size: 1.6rem;
                  font-weight: 400;
                  line-height: 1.2575;
                  letter-spacing: -0.032rem;
                  color: #212529;
                  font-family: Arial, 'Source Sans Pro';
                }
                .input-group-LKN {
                  width: 100%;
                  height: 3.8rem;
                  border-radius: 0.4rem;

                  .input-63e {
                    overflow: hidden;
                    position: relative;
                    box-shadow: 0 0 0 #cbdafc;
                    background-color: #ffffff;
                    border-radius: 0.5rem;
                    width: 100%;
                    height: 100%;
                    border: solid 0.1rem #cfd4d9;
                    box-sizing: border-box;
                  }
                }
              }
            }
            .select-source-A3W {
              height: 6.3rem;
              position: absolute;
              left: 0;
              top: 9.15rem;
              width: 110.9rem;

              .select-date-gGk {
                white-space: nowrap;
                margin-bottom: 1rem;
                font-size: 1.4rem;
                font-weight: 700;
                line-height: 1.2575;
                letter-spacing: -0.032rem;
                color: #212529;
                font-family: Arial, 'Source Sans Pro';
              }
              .select-group-cRJ {
                width: 100%;
                height: 3.5rem;
                display: flex;
                align-items: center;

                .dark-dark-button-Z5e {
                  width: 15.9rem;
                  font-weight: 700;
                  flex-shrink: 0;
                  margin-right: 3.1rem;
                  height: 100%;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  background-color: #0cada4;
                  text-align: center;
                  font-size: 1.2rem;
                  line-height: 1.2125;
                  color: #ffffff;
                  white-space: nowrap;
                  border-radius: 0.4rem;
                  font-family: Inter, 'Source Sans Pro';
                }
                .dark-dark-button-RtY {
                  margin-right: 3.1rem;
                  line-height: 1.2125;
                  white-space: nowrap;
                  text-align: center;
                  font-size: 1.2rem;
                  align-items: center;
                  background-color: #a6604f;
                  display: flex;
                  justify-content: center;
                  border-radius: 0.4rem;
                  width: 15.9rem;
                  height: 100%;
                  font-weight: 700;
                  color: #ffffff;
                  font-family: Inter, 'Source Sans Pro';
                  flex-shrink: 0;
                }
                .dark-dark-button-Kj2 {
                  font-size: 1.2rem;
                  line-height: 1.2125;
                  white-space: nowrap;
                  display: flex;
                  flex-shrink: 0;
                  margin-right: 3rem;
                  width: 16rem;
                  text-align: center;
                  font-weight: 700;
                  font-family: Inter, 'Source Sans Pro';
                  background-color: #0cada4;
                  border-radius: 0.4rem;
                  height: 100%;
                  color: #ffffff;
                  align-items: center;
                  justify-content: center;
                }
                .dark-dark-button-RGG {
                  margin-right: 3.1rem;
                  width: 15.9rem;
                  flex-shrink: 0;
                  align-items: center;
                  font-size: 1.2rem;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  display: flex;
                  height: 100%;
                  color: #ffffff;
                  background-color: #0cada4;
                  border-radius: 0.4rem;
                  text-align: center;
                  font-weight: 700;
                  line-height: 1.2125;
                  justify-content: center;
                }
                .dark-dark-button-fwJ {
                  height: 100%;
                  white-space: nowrap;
                  align-items: center;
                  width: 15.9rem;
                  font-size: 1.2rem;
                  flex-shrink: 0;
                  margin-right: 3.1rem;
                  text-align: center;
                  line-height: 1.2125;
                  color: #ffffff;
                  justify-content: center;
                  background-color: #0cada4;
                  border-radius: 0.4rem;
                  font-weight: 700;
                  font-family: Inter, 'Source Sans Pro';
                  display: flex;
                }
                .dark-dark-button-Zmn {
                  font-size: 1.2rem;
                  font-family: Inter, 'Source Sans Pro';
                  height: 100%;
                  text-align: center;
                  justify-content: center;
                  color: #ffffff;
                  align-items: center;
                  line-height: 1.2125;
                  white-space: nowrap;
                  display: flex;
                  background-color: #0cada4;
                  border-radius: 0.4rem;
                  flex-shrink: 0;
                  width: 15.9rem;
                  font-weight: 700;
                }
              }
            }
          }
          .select-slot-U84 {
            margin-bottom: 0.8rem;
            width: 27.7rem;
            flex-shrink: 0;

            .select-slot-2QU {
              color: #212529;
              font-family: Arial, 'Source Sans Pro';
              white-space: nowrap;
              margin-bottom: 1rem;
              display: flex;
              font-size: 1.4rem;
              font-weight: 700;
              line-height: 1.2575;
            }
            .frame-220-xov {
              width: 100%;
              height: 2.1rem;

              .auto-group-b4wn-X6L {
                width: 21rem;
                height: 100%;
                display: flex;
                align-items: flex-start;
                box-sizing: border-box;
                padding-right: 3.6rem;

                .selection-option-Tkg {
                  display: flex;
                  align-items: flex-start;
                  flex-shrink: 0;
                  margin-right: 3.4rem;

                  .radio-DUx {
                    width: 1.6rem;
                    height: 1.6rem;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                    margin-right: 0.8rem;
                  }
                  .checked-radio-MLG {
                    letter-spacing: -0.032rem;
                    color: #212529;
                    font-family: Arial, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    font-size: 1.4rem;
                    font-weight: 400;
                    line-height: 1.2575;
                  }
                }
                .selection-option-eKN {
                  display: flex;
                  align-items: flex-start;
                  flex-shrink: 0;

                  .radio-PXr {
                    width: 1.6rem;
                    height: 1.6rem;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                    margin-right: 0.8rem;
                  }
                  .default-radio-LCC {
                    font-weight: 400;
                    line-height: 1.2575;
                    letter-spacing: -0.032rem;
                    color: #212529;
                    font-family: Arial, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    font-size: 1.4rem;
                  }
                }
              }
            }
          }
          .auto-group-ufvk-4P6 {
            width: 109.4rem;
            height: 9.2rem;
            flex-shrink: 0;
            margin-bottom: 0.8rem;
            box-sizing: border-box;
            padding: 1.1rem 0rem 1.8rem 0rem;

            .select-source-a6Y {
              width: 100%;
              height: 100%;
              display: flex;
              flex-direction: column;

              .select-time-slot-8-30-am-to-01-30-pm-7sA {
                font-size: 1.4rem;
                line-height: 1.2575;
                color: #212529;
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 1rem;
                font-weight: 700;
                letter-spacing: -0.032rem;
                font-family: Arial, 'Source Sans Pro';
              }
              .select-group-dKi {
                height: 3.5rem;
                display: flex;
                column-gap: 1.6rem;
                align-items: center;
                flex-shrink: 0;
                width: 100%;

                .dark-dark-button-ZDN {
                  display: flex;
                  font-family: Inter, 'Source Sans Pro';
                  background-color: #0cada3;
                  height: 100%;
                  border-radius: 0.4rem;
                  justify-content: center;
                  font-weight: 700;
                  line-height: 1.2125;
                  white-space: nowrap;
                  width: 9.5rem;
                  align-items: center;
                  font-size: 1.2rem;
                  color: #ffffff;
                  flex-shrink: 0;
                }
                .dark-dark-button-Fbz {
                  line-height: 1.2125;
                  flex-shrink: 0;
                  font-size: 1.2rem;
                  font-weight: 700;
                  border-radius: 0.4rem;
                  justify-content: center;
                  white-space: nowrap;
                  background-color: #0cada3;
                  height: 100%;
                  font-family: Inter, 'Source Sans Pro';
                  align-items: center;
                  color: #ffffff;
                  width: 9.5rem;
                  display: flex;
                }
                .dark-dark-button-JaG {
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  display: flex;
                  justify-content: center;
                  line-height: 1.2125;
                  height: 100%;
                  font-size: 1.2rem;
                  background-color: #a6604f;
                  width: 9.5rem;
                  align-items: center;
                  flex-shrink: 0;
                  font-weight: 700;
                  color: #ffffff;
                  border-radius: 0.4rem;
                }
                .dark-dark-button-oX2 {
                  font-size: 1.2rem;
                  background-color: #0cada3;
                  width: 9.5rem;
                  display: flex;
                  white-space: nowrap;
                  border-radius: 0.4rem;
                  align-items: center;
                  justify-content: center;
                  color: #ffffff;
                  font-family: Inter, 'Source Sans Pro';
                  height: 100%;
                  font-weight: 700;
                  line-height: 1.2125;
                  flex-shrink: 0;
                }
                .dark-dark-button-JTn {
                  white-space: nowrap;
                  height: 100%;
                  line-height: 1.2125;
                  font-family: Inter, 'Source Sans Pro';
                  flex-shrink: 0;
                  justify-content: center;
                  font-size: 1.2rem;
                  color: #ffffff;
                  display: flex;
                  font-weight: 700;
                  border-radius: 0.4rem;
                  width: 9.5rem;
                  align-items: center;
                  background-color: #0cada3;
                }
                .dark-dark-button-1NC {
                  font-weight: 700;
                  white-space: nowrap;
                  height: 100%;
                  align-items: center;
                  font-size: 1.2rem;
                  line-height: 1.2125;
                  font-family: Inter, 'Source Sans Pro';
                  display: flex;
                  justify-content: center;
                  color: #ffffff;
                  flex-shrink: 0;
                  width: 9.5rem;
                  background-color: #0cada3;
                  border-radius: 0.4rem;
                }
                .dark-dark-button-7RE {
                  display: flex;
                  font-size: 1.2rem;
                  border-radius: 0.4rem;
                  align-items: center;
                  justify-content: center;
                  line-height: 1.2125;
                  white-space: nowrap;
                  width: 9.5rem;
                  height: 100%;
                  color: #ffffff;
                  flex-shrink: 0;
                  font-weight: 700;
                  font-family: Inter, 'Source Sans Pro';
                  background-color: #0cada3;
                }
                .dark-dark-button-brC {
                  height: 100%;
                  font-size: 1.2rem;
                  font-weight: 700;
                  font-family: Inter, 'Source Sans Pro';
                  background-color: #0cada3;
                  line-height: 1.2125;
                  border-radius: 0.4rem;
                  width: 9.5rem;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  color: #ffffff;
                  white-space: nowrap;
                  flex-shrink: 0;
                }
                .dark-dark-button-rn8 {
                  height: 100%;
                  font-size: 1.2rem;
                  font-family: Inter, 'Source Sans Pro';
                  display: flex;
                  color: #ffffff;
                  background-color: #0cada3;
                  width: 9.5rem;
                  align-items: center;
                  font-weight: 700;
                  line-height: 1.2125;
                  flex-shrink: 0;
                  justify-content: center;
                  white-space: nowrap;
                  border-radius: 0.4rem;
                }
                .dark-dark-button-kMi {
                  height: 100%;
                  display: flex;
                  font-size: 1.2rem;
                  font-family: Inter, 'Source Sans Pro';
                  border-radius: 0.4rem;
                  flex-shrink: 0;
                  align-items: center;
                  line-height: 1.2125;
                  color: #ffffff;
                  background-color: #0cada3;
                  width: 9.5rem;
                  justify-content: center;
                  font-weight: 700;
                  white-space: nowrap;
                }
              }
            }
          }
          .group-3-SkL {
            width: 26.6rem;
            flex-shrink: 0;

            .type-bdE {
              font-weight: 700;
              line-height: 1.2575;
              color: #212529;
              font-family: Arial, 'Source Sans Pro';
              white-space: nowrap;
              margin-bottom: 1rem;
              display: flex;
              font-size: 1.4rem;
            }
            .frame-220-Y2g {
              width: 100%;
              height: 2.1rem;

              .auto-group-yakn-VTi {
                display: flex;
                align-items: flex-start;
                box-sizing: border-box;
                padding-right: 3.4rem;
                width: 19.9rem;
                height: 100%;

                .selection-option-S84 {
                  margin-right: 3.5rem;
                  display: flex;
                  align-items: flex-start;
                  flex-shrink: 0;

                  .radio-nBv {
                    margin-right: 0.8rem;
                    width: 1.6rem;
                    height: 1.6rem;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                  }
                  .checked-radio-vJ8 {
                    font-size: 1.4rem;
                    font-weight: 400;
                    line-height: 1.2575;
                    letter-spacing: -0.032rem;
                    color: #212529;
                    font-family: Arial, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                  }
                }
                .selection-option-1qN {
                  display: flex;
                  align-items: flex-start;
                  flex-shrink: 0;

                  .radio-YqJ {
                    height: 1.6rem;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                    margin-right: 0.8rem;
                    width: 1.6rem;
                  }
                  .default-radio-tPN {
                    flex-shrink: 0;
                    font-size: 1.4rem;
                    font-weight: 400;
                    line-height: 1.2575;
                    letter-spacing: -0.032rem;
                    color: #212529;
                    font-family: Arial, 'Source Sans Pro';
                    white-space: nowrap;
                  }
                }
              }
            }
          }
        }
        .auto-group-6vme-Qcc {
          position: relative;
          flex-shrink: 0;
          width: 100%;
          height: 20.1rem;

          .frame-220-YTv {
            top: 0;
            display: flex;
            align-items: center;
            width: 111rem;
            height: 9.2rem;
            position: absolute;
            left: 0;

            .input-complex-source-V8G {
              box-sizing: border-box;
              padding-bottom: 2.6rem;
              width: 54rem;
              height: 100%;
              flex-shrink: 0;
              margin-right: 3rem;

              .label-QW8 {
                font-weight: 400;
                line-height: 1.2575;
                letter-spacing: -0.032rem;
                color: #212529;
                font-family: Arial, 'Source Sans Pro';
                white-space: nowrap;
                margin-bottom: 1rem;
                font-size: 1.4rem;
              }
              .input-group-wFA {
                width: 100%;
                height: 3.8rem;
                border-radius: 0.4rem;

                .input-HZv {
                  height: 100%;
                  box-sizing: border-box;
                  width: 100%;
                  overflow: hidden;
                  position: relative;
                  border: solid 0.1rem #cfd4d9;
                  box-shadow: 0 0 0 #cbdafc;
                  background-color: #ffffff;
                  border-radius: 0.5rem;
                }
              }
            }
            .input-complex-source-B9W {
              padding-bottom: 2.6rem;
              width: 54rem;
              height: 100%;
              flex-shrink: 0;
              box-sizing: border-box;

              .label-grx {
                white-space: nowrap;
                margin-bottom: 1rem;
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.2575;
                letter-spacing: -0.032rem;
                color: #212529;
                font-family: Arial, 'Source Sans Pro';
              }
              .input-group-ogg {
                width: 100%;
                height: 3.8rem;
                border-radius: 0.4rem;

                .input-m7i {
                  width: 100%;
                  height: 100%;
                  position: relative;
                  border-radius: 0.5rem;
                  overflow: hidden;
                  border: solid 0.1rem #cfd4d9;
                  box-sizing: border-box;
                  box-shadow: 0 0 0 #cbdafc;
                  background-color: #ffffff;
                }
              }
            }
          }
          .frame-225-ehJ {
            align-items: center;
            width: 139.1rem;
            height: 9.2rem;
            position: absolute;
            left: 0;
            top: 9rem;
            display: flex;

            .input-complex-source-Mrc {
              height: 100%;
              flex-shrink: 0;
              margin-right: 3.1rem;
              box-sizing: border-box;
              padding-bottom: 2.6rem;
              width: 54rem;

              .label-HkG {
                font-weight: 400;
                line-height: 1.2575;
                letter-spacing: -0.032rem;
                color: #212529;
                font-family: Arial, 'Source Sans Pro';
                white-space: nowrap;
                margin-bottom: 1rem;
                font-size: 1.4rem;
              }
              .input-group-1wA {
                width: 100%;
                height: 3.8rem;
                border-radius: 0.4rem;

                .input-yNC {
                  position: relative;
                  border: solid 0.1rem #cfd4d9;
                  box-sizing: border-box;
                  box-shadow: 0 0 0 #cbdafc;
                  border-radius: 0.5rem;
                  width: 100%;
                  height: 100%;
                  overflow: hidden;
                  background-color: #ffffff;
                }
              }
            }
            .frame-218-6Bv {
              height: 100%;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .input-complex-source-q9W {
                height: 100%;
                flex-shrink: 0;
                margin-right: 8.1rem;
                box-sizing: border-box;
                padding-bottom: 2.6rem;
                width: 53.9rem;

                .label-M7r {
                  margin-bottom: 1rem;
                  font-size: 1.4rem;
                  font-weight: 400;
                  line-height: 1.2575;
                  letter-spacing: -0.032rem;
                  color: #212529;
                  font-family: Arial, 'Source Sans Pro';
                  white-space: nowrap;
                }
                .input-group-UyA {
                  height: 3.8rem;
                  display: flex;
                  align-items: center;
                  width: 100%;

                  .input-prefix-dbA {
                    height: 100%;
                    line-height: 1.2575;
                    border-radius: 0.4rem 0 0 0.4rem;
                    font-weight: 400;
                    letter-spacing: -0.032rem;
                    display: flex;
                    justify-content: center;
                    box-shadow: inset 0.1rem 0 0 #cfd4d9), inset 0 0.1rem 0 #cfd4d9), inset 0 -0.1rem 0 #cfd4d9);
                    background-color: #eaebef;
                    color: #6c757d;
                    align-items: center;
                    width: 4.1rem;
                    font-size: 1.6rem;
                    font-family: Arial, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                  }
                  .input-H9v {
                    box-sizing: border-box;
                    white-space: nowrap;
                    box-shadow: 0 0 0 #cbdafc;
                    border-radius: 0 0.4rem 0.4rem 0;
                    flex-shrink: 0;
                    background-color: #ffffff;
                    width: 49.8rem;
                    height: 100%;
                    line-height: 1.2575;
                    color: #212529;
                    border: solid 0.1rem #cfd4d9;
                    overflow: hidden;
                    font-weight: 400;
                    font-family: Arial, 'Source Sans Pro';
                    padding: 1rem 1.2rem 0.7rem 1.2rem;
                    position: relative;
                    font-size: 1.6rem;
                    letter-spacing: -0.032rem;
                  }
                }
              }
              .input-complex-source-L8C {
                flex-shrink: 0;
                box-sizing: border-box;
                padding-bottom: 2.6rem;
                width: 20rem;
                height: 100%;

                .label-sdv {
                  white-space: nowrap;
                  margin-bottom: 0.7rem;
                  font-size: 1.6rem;
                  font-weight: 400;
                  line-height: 1.2575;
                  letter-spacing: -0.032rem;
                  color: #212529;
                  font-family: Arial, 'Source Sans Pro';
                }
                .input-group-CgC {
                  width: 100%;
                  height: 3.8rem;
                  position: relative;

                  .input-prefix-L1i {
                    padding: 0.95rem 0rem 0.75rem 1.2rem;
                    left: 0;
                    letter-spacing: -0.032rem;
                    white-space: nowrap;
                    box-shadow: inset 0.1rem 0 0 #cfd4d9), inset 0 0.1rem 0 #cfd4d9), inset 0 -0.1rem 0 #cfd4d9);
                    font-size: 1.6rem;
                    font-family: Arial, 'Source Sans Pro';
                    border-radius: 0.4rem 0 0 0.4rem;
                    height: 3.8rem;
                    position: absolute;
                    top: 0;
                    box-sizing: border-box;
                    width: 8.6rem;
                    font-weight: 400;
                    line-height: 1.2575;
                    color: #6c757d;
                    background-color: #eaebef;
                  }
                  .input-LA8 {
                    width: 16.1rem;
                    height: 3.8rem;
                    left: 3.9rem;
                    top: 0;
                    line-height: 1.2575;
                    border-radius: 0 0.4rem 0.4rem 0;
                    overflow: hidden;
                    font-size: 1.6rem;
                    color: #212529;
                    border: solid 0.1rem #cfd4d9;
                    padding: 0.95rem 1.2rem 0.75rem 1.2rem;
                    position: absolute;
                    font-weight: 400;
                    font-family: Arial, 'Source Sans Pro';
                    box-shadow: 0 0 0 #cbdafc;
                    box-sizing: border-box;
                    letter-spacing: -0.032rem;
                    white-space: nowrap;
                    background-color: #ffffff;
                  }
                }
              }
            }
          }
          .frame-219-xBW {
            width: 40rem;
            height: 2.1rem;
            position: absolute;
            left: 0;
            top: 18rem;

            .selection-option-tqr {
              height: 100%;
              display: flex;
              align-items: flex-start;
              width: 100%;

              .checkbox-eq2 {
                margin: 0.1rem 0.8rem 0rem 0rem;
                width: 1.6rem;
                position: relative;
                border: solid 0.1rem rgba(0, 0, 0, 0.25);
                box-sizing: border-box;
                background-color: #ffffff;
                border-radius: 0.4rem;
                height: 1.6rem;
                cursor: pointer;
                overflow: hidden;
                flex-shrink: 0;
              }
              .default-checkbox-Lxk {
                letter-spacing: -0.032rem;
                align-items: baseline;
                font-size: 1.6rem;
                line-height: 1.2575;
                color: #212529;
                font-family: Arial, 'Source Sans Pro';
                white-space: nowrap;
                display: flex;
                flex-shrink: 0;
                font-weight: 400;

                .default-checkbox-Lxk-sub-0 {
                }
                .default-checkbox-Lxk-sub-1 {
                  color: #256eb8;
                  font-family: Arial, 'Source Sans Pro';
                  font-size: 1.6rem;
                  font-weight: 400;
                  line-height: 1.2575;
                  letter-spacing: -0.032rem;
                  text-decoration-line: underline;
                }
              }
            }
          }
        }
        .auto-group-zcg4-EaG {
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 2.1rem 0rem 15.1rem 0rem;
          width: 100%;
          height: 23.4rem;
          display: flex;
          flex-direction: column;

          .rectangle-17-Met {
            flex-shrink: 0;
            margin-bottom: 2.3rem;
            width: 111rem;
            height: 0.1rem;
            background-color: rgba(0, 0, 0, 0.1000000015);
          }
          .frame-1-6Ma {
            height: 3.8rem;
            display: flex;
            column-gap: 0.8rem;
            align-items: center;
            flex-shrink: 0;

            .button-1De {
              height: 100%;
              font-size: 1.6rem;
              align-items: center;
              justify-content: center;
              flex-shrink: 0;
              font-weight: 400;
              line-height: 1.2575;
              letter-spacing: -0.032rem;
              font-family: Arial, 'Source Sans Pro';
              white-space: nowrap;
              width: 13.9rem;
              color: #ffffff;
              display: flex;
              background-color: #2f2f2f;
              border-radius: 0.4rem;
            }
            .button-sWk {
              border-radius: 0.4rem;
              flex-shrink: 0;
              width: 7.3rem;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.2575;
              height: 100%;
              font-family: Arial, 'Source Sans Pro';
              letter-spacing: -0.032rem;
              color: #212529;
              white-space: nowrap;
              background-color: rgba(49, 108, 244, 0.1000000015);
              display: flex;
              align-items: center;
              justify-content: center;
            }
            .button-B1e {
              width: 6.5rem;
              white-space: nowrap;
              align-items: center;
              justify-content: center;
              background-color: rgba(49, 108, 244, 0.1000000015);
              font-size: 1.6rem;
              height: 100%;
              letter-spacing: -0.032rem;
              color: #212529;
              border-radius: 0.4rem;
              flex-shrink: 0;
              font-weight: 400;
              line-height: 1.2575;
              font-family: Arial, 'Source Sans Pro';
              display: flex;
            }
          }
        }
      }
    }
  }
}
